<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuij.aplikasimobil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiMobil">
        <activity
            android:name=".Civic"
            android:exported="false" />
        <activity
            android:name=".Impala"
            android:exported="false" />
        <activity
            android:name=".Corolla"
            android:exported="false" />
        <activity
            android:name=".mobilKlasik"
            android:exported="false" />
        <activity
            android:name=".Lamborghini"
            android:exported="false" />
        <activity
            android:name=".Pagani"
            android:exported="false" />
        <activity
            android:name=".Ferrari"
            android:exported="false" />
        <activity
            android:name=".Bugatti"
            android:exported="false" />
        <activity
            android:name=".mobilSport"
            android:exported="false" />
        <activity
            android:name=".Tentang"
            android:exported="false" />
        <activity
            android:name=".menuUtama"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>